<h3 ng-if="!vm.isEdit">Criar Grupo de Etiquetas</h3>
<h3 ng-if="vm.isEdit">Editar Grupo de Etiquetas</h3>


<form id="newProduct" role="form" name="vm.formValidate" ng-submit="vm.submitForm()" novalidate="" class="form-validate form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <i class="text-danger fa fa-asterisk"/> - Campos Obrigatórios
        </div>
        <div class="col-sm-6">
            <smg-form-actions on-back-click="vm.onBackClick()" on-save-click="vm.submitForm()">
            </smg-form-actions>        
        </div>
    </div>

    <div id="panelProduct" class="panel panel-default mar-top15">
        <div class="panel-heading">
            <h4>Grupo de Etiquetas</h4>
        </div>

        <div class="panel-body">
            <fieldset>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div ng-if="vm.isEdit" class="col-sm-2">
                            <label class="control-label">
                                Código Interno
                            </label>
                            <div ng-if="vm.isEdit" class="control-label-text">{{vm.data.InternalCode}}</div>
                        </div>

                        <div ng-if="!vm.isEdit" class="col-sm-2">
                            <label class="control-label">
                                Código Interno
                                <span class="pad-left5 text-danger">
                                    <i class="fa fa-asterisk"/>
                                </span>
                                <smg-help-icon help-text='Código ou número usado na empresa para referenciar um grup de produtos, obras, rotas, sub-resíduos, etc.'>
                                </smg-help-icon>
                            </label>
                            <br>
                            <input id="inp-internalCode" 
                                name="internalCode" 
                                ng-model="vm.data.InternalCode" 
                                required=""
                                autocomplete="off" 
                                ng-pattern="/^[a-zA-ZçÇ\d-_]+$/"
                                ng-maxlength="50"
                                type="text" 
                                class="form-control" 
                                placeholder="Ex: GRP-123" />
                            <span ng-show="vm.validateInput('internalCode', 'required')" class="text-danger">Obrigatório</span>
                            <span ng-show="vm.validateInput('internalCode', 'pattern')" class="text-danger">Formato inválido</span>
                            <span ng-show="vm.validateInput('internalCode', 'maxlength')" class="text-danger">Máximo de 50 caracteres</span>
                            <span ng-show="vm.serverValidationErrors['InternalCode']" class="text-danger">
                                {{vm.serverValidationErrors['InternalCode']}}
                            </span>
                            <span ng-show="vm.serverApplicationErrors['InternalCode']" class="text-danger">
                                {{vm.serverApplicationErrors['InternalCode']}}
                            </span>
                        </div>

                        <div class="col-sm-4">
                            <label class="control-label">
                                Designação
                                <span class="pad-left5 text-danger">
                                    <i class="fa fa-asterisk"/>
                                </span>
                            </label>
                            <br>
                            <input id="inp-description" 
                                name="description" 
                                ng-model="vm.data.Description" 
                                required=""
                                autocomplete="off" 
                                ng-maxlength="255"
                                type="text" 
                                class="form-control" 
                                placeholder="Ex: Resíduos hospitalares" />
                            <span ng-show="vm.validateInput('description', 'required')" class="text-danger">Obrigatório</span>
                            <span ng-show="vm.validateInput('description', 'pattern')" class="text-danger">Formato inválido</span>
                            <span ng-show="vm.validateInput('description', 'maxlength')" class="text-danger">Máximo de 255 caracteres</span>
                            <span ng-show="vm.serverValidationErrors['Description']" class="text-danger">
                                {{vm.serverValidationErrors['Description']}}
                            </span>
                            <span ng-show="vm.serverApplicationErrors['Description']" class="text-danger">
                                {{vm.serverApplicationErrors['Description']}}
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>    

            <fieldset>
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Observações</label>
                            <textarea id="txt-obs" name="obs" ng-model="vm.data.Obs" ng-maxlength="500" rows="4" class="form-control no-resize"></textarea>
                            <span ng-show="vm.validateInput('obs', 'maxlength')" class="text-danger">Máximo de 500 caracteres</span>
                            <span ng-show="vm.serverValidationErrors['Obs']" class="text-danger">
                                {{vm.serverValidationErrors['Obs']}}
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <i class="text-danger fa fa-asterisk"/> - Campos Obrigatórios
        </div>
        <div class="col-sm-6">
            <smg-form-actions on-back-click="vm.onBackClick()" on-save-click="vm.submitForm()">
            </smg-form-actions>
        </div>
    </div>

</form> 

<div ng-if="vm.isEdit" id="groupProducts" class="panel panel-default mar-top20">
    <div class="panel-heading">
        <h4>Etiquetas associadas ao Grupo</h4>
    </div>
        
    <div class="panel-body mar-top20">
        <div>
            <table id="tbl-groupProducts" class="row-border hover" 
                datatable="" 
                dt-columns="vm.dtColumns" 
                dt-options="vm.dtOptions"
                dt-instance="vm.dtInstance">
            </table>
        </div>
    </div>
</div>