
  <h3 class="ng-scope mar-left20">
  e-GAR nº
    <span class="consult-egar-number">
      {{$ctrl.gar.Number}}
    </span>
    <span class="pointer pad-left10" title="Ver PDF" ng-click="$ctrl.getFile($ctrl.gar.FileUrl)">
      <em class="fa fa-file-pdf-o"></em>
    </span>
  </h3>

<div class="mar-left20 mar-right20">

    <div id="panelRectification" class="panel panel-default mar-top15">
      <div ng-class="{'panel-heading-collapsed':panelRectification}" class="panel-heading">
        <h4>
          <em class="fa fa-file-text pad-right10"></em>
          Correcção
        </h4>
        <paneltool tool-collapse="tool-collapse" class="pull-right">
          <a href="#" panel-collapse="" uib-tooltip="Encolher Painel" ng-click="panelRectification = !panelRectification" class="ng-scope">
            <em ng-show="panelRectification" class="fa fa-plus ng-no-animation ng-hide"></em>                         
            <em ng-show="!panelRectification" class="fa fa-minus ng-no-animation"></em>                       
          </a>
        </paneltool>
      </div>

      <div uib-collapse="panelRectification" class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false">
        <div class="panel-body">
            <!--EGar-->
            <fieldset id="origin">
              <div class="form-group">
                <div class="col-sm-12">
	  
      <div class="row pad-top0" ng-show="$ctrl.closeDate">
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Data da Correção: </label>
					<span class="control-label-text pad-left10">
					{{$ctrl.closeDate}}
					</span>
				</div>
			</div>

			<div class="row pad-top10" ng-show="$ctrl.newQuantity">
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Quantidade</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.quantity}} Kg
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Quantidade Corrigida</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.newQuantity}} Kg
					</div>
				</div>
			</div>
			
			<div class="row pad-top10" ng-show="$ctrl.newLerCode">
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Código LER</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.lerCode}}
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Código LER Corrigido</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.newLerCode}}
					</div>
				</div>
			</div>

			<div class="row pad-top10" ng-show="$ctrl.newOperationCode">
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Código Operação</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.operationCode}}
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Código Operação Corrigido</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.newOperationCode}}
					</div>
				</div>
			</div>

			<div class="row pad-top10" ng-show="$ctrl.newGroupCode">
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Código Grupo</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.groupCode}}
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Código Grupo Corrigido</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.newGroupCode}}
					</div>
				</div>
			</div>

			<div class="row pad-top10" ng-show="$ctrl.newPglNumber">
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Número PGL</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.pglNumber}}
					</div>
				</div>
				<div class="col-md-6">
					<label class="control-label mar-bottom0">Número PGL Corrigido</label>
					<div class="control-label-text pad-top0">
					{{$ctrl.newPglNumber}}
					</div>
				</div>
			</div>

			<div class="row pad-top20" ng-show="$ctrl.destinComment">
				<div class="col-md-12">
					<label class="control-label mar-bottom0">Cometário do destinatário</label>
				<div class="control-label-text pad-top0">
					{{$ctrl.destinComment}}
				</div>
				</div>
			</div>
                </div>
              </div>
            </fieldset>  
        </div>  
      </div>  
    </div>

    <!-- accept/reject-->
    <div class="row pad-bottom20" ng-show="$ctrl.showActions">
      <div class="col-sm-12">
        <div class="text-center">
          <button type="button" class="btn btn-labeled btn-success" ng-click="$ctrl.acceptRetification()">
              <span class="btn-label">
                <i class="fa fa-check"></i>
              </span>
              Aceitar
          </button>

          <button type="button" class="btn btn-labeled btn-danger" ng-click="$ctrl.rejectRetification()">
              <span class="btn-label">
                <i class="fa fa-times"></i>
              </span>
              Rejeitar
          </button>
      </div>
      </div> 
    </div>

    <!--panelApa-->
    <div id="panelApa" class="panel panel-default mar-top15">
      <div ng-class="{'panel-heading-collapsed':panelApa}" class="panel-heading">
        <h4>
          <em class="fa fa-file-text pad-right10"></em>
          Dados APA
        </h4>
        <paneltool tool-collapse="tool-collapse" class="pull-right">
          <a href="#" panel-collapse="" uib-tooltip="Encolher Painel" ng-click="panelApa = !panelApa" class="ng-scope">
            <em ng-show="panelApa" class="fa fa-plus ng-no-animation ng-hide"></em>                         
            <em ng-show="!panelApa" class="fa fa-minus ng-no-animation"></em>                       
          </a>
        </paneltool>
      </div>

      <div uib-collapse="panelApa" class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false">
        <div class="panel-body">
            <!--EGar-->
            <fieldset id="origin">
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <!--Number-->
                    <div class="col-sm-2">
                      <label class="control-label">Número</label>
                      <div class="control-label-text">{{$ctrl.gar.Number}}</div>
                    </div>

                    <div class="col-sm-2">
                      <label class="control-label">Código Verificação</label>
                      <div class="control-label-text">{{$ctrl.gar.Code}}</div>
                    </div>

                    <!--Status-->
                    <div class="col-sm-2">
                      <label class="control-label">Estado</label>
                      <br>
                      <div class="control-label-text">{{$ctrl.gar.Status}} (<small>Em: {{$ctrl.gar.FormatedStatusDate}}</small>)</div>
                    </div>

                    <!--Authorized-->
                    <div class="col-sm-2">
                      <label class="control-label">Autorizada</label>
                      <div class="control-label-text">{{$ctrl.gar.FormatedAuthorized}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>  
        </div>  
      </div>  
    </div>
    <!--END panelApa-->

    <!--panelOrigin-->
    <div id="panelOrigin" class="panel panel-default mar-top15">
      <div ng-class="{'panel-heading-collapsed':panelOrigin}" class="panel-heading">
        <h4>
          <em class="fa fa-bank pad-right10"></em>1 - Produtor / Detentor 
        </h4>
        <paneltool tool-collapse="tool-collapse" class="pull-right">
          <a href="#" panel-collapse="" uib-tooltip="Encolher Painel" ng-click="panelOrigin = !panelOrigin" class="ng-scope">
            <em ng-show="panelOrigin" class="fa fa-plus ng-no-animation ng-hide"></em>                         
            <em ng-show="!panelOrigin" class="fa fa-minus ng-no-animation"></em>                       
          </a>
        </paneltool>
      </div>

      <div uib-collapse="panelOrigin" class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false">
        <div class="panel-body">
          <!--remetente-->      
          <fieldset id="origin">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row pad-top10">
                  <!--Vat-->
                  <div class="col-sm-2">
                    <label class="control-label">
                      NIF
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Origin.Nif}}</div>
                  </div>

                  <!--cod apa-->
                  <div class="col-sm-2">
                    <label class="control-label">
                      Código APA
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Origin.CodApa}}</div>
                  </div>

                  <!--tipo produtor PI/OGR-->
                  <div class="col-sm-2">
                    <label class="control-label">
                      Tipo Produtor
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.FormatedProducerType}}</div>
                  </div>
                </div>

                <div class="row pad-top10">
                  <!--Establishment Name-->
                  <div class="col-sm-4">
                    <label class="control-label">
                      Estabelecimento
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Origin.Nome}}</div>
                  </div>

                  <!--Establishment Addres-->
                  <div class="col-sm-8">
                    <label class="control-label">Morada</label>
                    <div class="control-label-text">{{$ctrl.gar.Origin.Address}}</div>
                  </div>

                </div>
              </div>
            </div>
          </fieldset>
          <!--END remetente-->
        
          <!--residuo Transportado-->
          <fieldset id="residue">
            <legend>Residuo</legend>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <!--Quantity-->
                  <div class="col-sm-2">
                    <label class="control-label">
                      Quantidade (Kg)
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Residue.Quantidade}}</div>
                  </div>

                  <!--Ler Code-->
                  <div class="col-sm-4">
                    <label class="control-label">
                      Código LER
                    </label>
                    <div class="control-label-text">{{$ctrl.selectedLerCode.value}}</div> 
                  </div>

                  <!--Operation Code-->
                  <div class="col-sm-4">
                    <label class="control-label">
                      Código Operação
                    </label>
                    <div class="control-label-text">{{$ctrl.selectedOperationCode.value}}</div> 
                  </div>

                  <!--Group Code-->
                  <div class="col-sm-2" ng-show="$ctrl.selectedGroupCode">
                    <label class="control-label">
                      Código Grupo
                    </label>
                    <div class="control-label-text">{{$ctrl.selectedGroupCode}}</div> 
                  </div>
                </div>

                <!--Description-->
                <div class="row pad-top10">
                  <div class="col-sm-12">
                    <label class="control-label">
                      Descrição
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Residue.DescricaoResiduo}}</div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>   
          <!--END residuo Transportado-->
        </div>
      </div>
    </div>
    <!--END panelOrigin-->

    <!--panelTransporters-->
    <div id="panelTransporters" class="panel panel-default">
      <div ng-class="{'panel-heading-collapsed':panelTransporters}" class="panel-heading">
        <h4><em class="fa fa-truck pad-right10"></em>2 - Transportadores</h4>
        <paneltool tool-collapse="tool-collapse" class="pull-right">
          <a href="#" panel-collapse="" uib-tooltip="Encolher Painel" ng-click="panelTransporters = !panelTransporters" class="ng-scope">
            <em ng-show="panelTransporters" class="fa fa-plus ng-no-animation ng-hide"></em>                         
            <em ng-show="!panelTransporters" class="fa fa-minus ng-no-animation"></em>                       
          </a></paneltool>
      </div>

      <div uib-collapse="panelTransporters" class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false">
        <div class="panel-body">
          <!--transportador-->
          <div ng-repeat="transporter in $ctrl.gar.Transporters">
            <fieldset class="mar-bottom0">
              <div class="row">
                <!--nif-->
                <label class="col-sm-1 control-label">NIF:</label>
                <div class="col-sm-1 pad-top7">
                  <span class="control-label-text">{{transporter.Nif}}</span>
                </div>

                <!--plate-->
                <label class="col-sm-1 control-label">Matricula:</label>
                <div class="col-sm-1 pad-top7">
                  <span class="control-label-text">{{transporter.Matricula}}</span>
                </div>

                <!--transport date-->
                <label class="col-sm-2 control-label">Data de Transporte:</label>
                <div class="col-sm-2 pad-top7">
                  <span class="control-label-text">{{transporter.FormatedDataHoraInicio}}</span>
                </div>

                <!--transport hour-->
                <label class="col-sm-1 control-label">Válido até:</label>
                <div class="col-sm-2 pad-top7">
                  <span class="control-label-text">{{transporter.FormatedDataValidade}}</span>
                </div>
              </div>
            </fieldset>
          </div>
          <!--transportador-->
        </div>
      </div>

    </div>
    <!--END panelTransporters-->


    <!--panelDestin-->
    <div id="panelDestin" class="panel panel-default">
      <div ng-class="{'panel-heading-collapsed':panelDestin}" class="panel-heading">
        <h4><em class="fa fa-industry pad-right10"></em>3 - Destinatário</h4>
        <paneltool tool-collapse="tool-collapse" class="pull-right">
          <a href="#" panel-collapse="" uib-tooltip="Encolher Painel" ng-click="panelDestin = !panelDestin" class="ng-scope">
            <em ng-show="panelDestin" class="fa fa-plus ng-no-animation ng-hide"></em>                         
            <em ng-show="!panelDestin" class="fa fa-minus ng-no-animation"></em>                       
          </a>
        </paneltool>
      </div>

      <div uib-collapse="panelDestin" class="panel-wrapper in collapse" aria-expanded="true" aria-hidden="false">
        <div class="panel-body">
          <fieldset id="destin">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row pad-top10">
                  <!--nif-->         
                  <div class="col-sm-2">
                    <label class="control-label">
                      NIF
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Destin.Nif}}</div>
                  </div>

                  <!--cod apa-->
                  <div class="col-sm-2">
                    <label class="control-label">
                      Código APA
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Destin.CodApa}}</div>
                  </div>

                  <!--num pgl-->
                  <div class="col-sm-2" ng-show="$ctrl.gar.Destin.NumPgl">
                    <label class="control-label">
                      Número PGL
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Destin.NumPgl}}</div>
                  </div>
                </div>

                <div class="row pad-top10">
                  <div class="col-sm-4">
                    <label class="control-label">
                      Estabelecimento
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Destin.Nome}}</div>
                  </div>

                  <div class="col-sm-8">
                    <label class="control-label">
                      Morada
                    </label>
                    <div class="control-label-text">{{$ctrl.gar.Destin.Address}}</div>
                  </div>
                </div>

              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <!--END panelDestin-->

    <div class="row pad-bottom20" ng-hide="$ctrl.gar.Authorized">
      <div class="col-sm-12">
        <div class="text-center">
          <button type="button" class="btn btn-labeled btn-success" ng-click="$ctrl.authorize()">
              <span class="btn-label">
                <i class="fa fa-check"></i>
              </span>
              Autorizar Emissão
          </button>
      </div>
      </div> 
    </div>
</div>