
<div di="calendar">
    <div class="row">
        <div class="col-sm-2">
            <button class="btn ng-binding" ng-click="changeLang()">
                PT
              </button>
              <button class="btn" ng-click="addRemoveEventSource(eventSources2,eventSource)">
                Toggle Source
              </button>
              <button type="button" class="btn btn-primary" ng-click="addEvent()">
                Add Event
              </button>
              <button type="button" class="btn btn-primary" ng-click="remove()">
                Drop Event
              </button>
        </div>
        <div class="col-sm-10">
            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources2"></div> 

        </div>
    </div>
</div>

