<h3>Os meus Estabelecimentos</h3>

<div class="panel panel-default">
	<div class="panel-heading">
		<!-- <button ng-if="$ctrl.canCreateAccountEstablishments" ng-click="$state.go('app.myNewEstablishment')" class="pull-right btn btn-success">
			Criar Estabelecimento
		</button> -->
	</div>


	<div class="panel-body mar-top20">  
		<div>
      <table id="tbl-myEstablishmentsOverview" 
              class="row-border hover" 
							datatable="" 
							dt-columns="$ctrl.dtColumns" 
							dt-options="$ctrl.dtOptions"
							dt-instance="$ctrl.dtInstance">
			</table>
		</div>        
	</div>
</div>