.mar-0{
    margin: 0 !important;
}


/**************
TOP
***************/
.mar-top3{
    margin-top: 3px !important;
}

.mar-top5{
    margin-top: 5px !important;
}

.mar-top6{
    margin-top: 6px !important;
}

.mar-top8{
    margin-top: 8px !important;
}

.mar-top20 {
    margin-top: 20px !important;
}

.mar-top37{
    margin-top: 37px !important;   
}


/**************
RIGHT
***************/



/**************
BOTTOM
***************/
.mar-bottom0{
    margin-bottom: 0 !important;
}



/**************
LEFT
***************/
.mar-left0 {
    margin-left: 0px !important;
}


.mar-left2 {
    margin-left: 2px !important;
}

.mar-left5 {
    margin-left: 5px !important;
}


.mar-left20 {
    margin-left: 20px !important;
}

