
    .report-sections {
        .report-section:not(:first-child) {
            //padding-top: 40px;
            // color: green;
        }
    } 
    

.report-header{
    font-weight: bold;
    font-size: 16px;
}

.report-header{
    font-weight: bold;
    font-size: 16px;
}

.panel-heading .apaCode{
    font-size: 15px;
}