smg-text-search {
    display: block;
    position: absolute;
    top: 40px;
    right: 70px;
  }

.smg-text-search-icon{
    font-size: 15px !important;
    cursor: pointer !important;
    pointer-events: all !important;
}
